# Generic files to ignore
.*
.*.swp

# Editors
*~
*.swp
*.swo
*#
*.000
*.bak
*.bck
*.tmp
_autosave-*
.vscode

# ms-windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Local patches
/*.patch
/*.diff

# KiCAD backup files
*.sch-bak
*.kicad_pcb-bak

# KiCAD cache files.
fp-info-cache
*-cache.lib

*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema).
*.net

# Autorouter files (exported from Pcbnew).
*.dsn
*.ses

# Exported BOM files.
#
# TODO(sergey): Specialize path, so that MplabX projects are not ignored.
#
# *.xml
# *.csv

# FreeCAD backup files.
*.FCStd1

# Blender backup files.
*.blend?

# MPLAB-X build system.
/GPSDOMonitor/firmware/GPSDOMonitor.X/build/
/GPSDOMonitor/firmware/GPSDOMonitor.X/dist/
/GPSDOMonitor/firmware/GPSDOMonitor.X/disassembly/

# Build directory of sofware.
/GPSDOMonitor/firmware/build

# Acquired text files.
/GPSDOMonitor/tools/decode/stat
/GPSDOMonitor/tools/decode/timecode
/GPSDOMonitor/tools/decode/captures

# Local copy of datasheets.
/datasheet/
